<section>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Posts</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-success" (click)="createItem()">Create</button>
      </div>
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-danger" (click)="deleteItems()">Delete</button>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-12">
        <table class="table table-striped table-inverse table-responsive">
          <thead class="thead-inverse">
            <tr>
              <th>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="checbox-all"
                  (change)="toggleSelectAllItem()"
                  [checked]="(selectedAllState$ | async).isSelectedAll"
                  [indeterminate]="(selectedAllState$ | async).isIndeterminate">
                  <label class="custom-control-label" for="checbox-all"></label>
                </div>
              </th>
              <th>ID</th>
              <th>Title</th>
              <th>Body</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of listPosts$ | async">
                <td>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [id]="post.id"
                    (click)="$event.stopPropagation()"
                    (change)="toggleSelectItem(post)"
                    [checked]="isSelectedItem(post)">
                    <label class="custom-control-label" [for]="post.id"></label>
                  </div>
                </td>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.body }}</td>
                <td></td>
              </tr>
            </tbody>
        </table>
      </div>
      <div class="col-12">
        <app-pagination
          [page]="currentPage$ | async"
          [collectionSize]="totalItems$ | async"
          (onChangePage)="changePageHandler($event)"
        >
        </app-pagination>
      </div>
    </div>
  </div>
</section>
